* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #404040;
}

a {
    text-decoration: none;
}

a:visited,
a:link {
    color: black;
    font-weight: 500;
}

header {
    background-color: #d8ffd6;
    border: 12px solid #fd7397;
    min-height: 40vh;
    padding: 60px 20px;
}

header h1 {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}

header p {
    font-size: 24px;
    font-weight: 300;
    padding: 10px 0;
    text-align: center;
}

header .banner {
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 60px;
    width: 100%;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    transition: color .3s;
}

nav a:hover {
    color: #fd7397;
}

.logo {
    height: 25px;
}

.content-container {
    display: flex;
    flex-direction: column;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00414b;
    padding: 80px 20px;
    min-height: 60vh;
}

.intro-container h3 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
    font-size: 38px;
}

.intro-content {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.intro-box {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    padding-bottom: 60px;
    border-radius: 10px;
    background-color: white;
}

.intro-box ul {
    list-style-type: none;
}

.intro-box ul li {
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 600;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.intro-section {
    flex: 0.9;
    border-radius: 10px;
    padding: 40px;
    background-color: white;
}

.intro-section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.intro-section p {
    letter-spacing: 1px;
    line-height: 2;
    font-size: 15px;
    text-align: justify;
}

.steps {
    background-color: #d8ffd6;
    padding: 40px 20px;
}

.steps-container {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

.steps-container h2 {
    padding: 20px 0;
}

.steps-container p {
    padding: 10px 0;
    text-align: justify;
}

.steps-container li {
    padding: 10px 0;
    margin-left: 20px;
}

.above-footer {
    background-color: #d8ffd6;
    padding: 5px;
    color: black;

}

.above-footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

.above-footer-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center
}

.above-footer-left h3 {
    text-decoration: underline;
}

.above-footer-left a {
    text-decoration: none;
    color: black;

}

.above-footer-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center
}

.above-footer-right h3 {
    margin: 0;
}

.above-footer-right div {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer {
    padding: 15px 0;
    text-align: center;
    color: #080808;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #d8ffd6;
    border: 4px solid #fd7397;

}

@media screen and (max-width:1280px) {
    .intro-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .intro-section p {
        font: size 14px;
        line-height: 1.25;
    }

    .above-footer-container {
        flex-direction: column;
        gap: 20px 0;
    }

    nav {
        gap: 0 20px
    }

    nav a {
        font-size: 13px;
    }

    header h1 {
        font-size: 38px;
    }

    header p {
        font-size: 20px;
    }

    .intro-container h3 {
        font-size: 30px
    }
}

a :hover {
    color: #fd7397;
    